html{
font-family: 'Courier New', Courier, monospace;
}
header{
    text-align: center;
    min-width: 100%;
    position: relative;
    left: 0;
}
#container{
    display: grid;
    grid-template-columns: 40% 60%;  
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
    background-color: azure;
    width: 100%;
    height: fit-content;
}
div{
    background-color: aliceblue;
}
aside{
    background-color: antiquewhite;
    display: flex;
    padding: 0.3em;
    border-radius: 8px;
    max-width: 95%;
    height: fit-content;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 2em;
    align-content: space-around;
    
}
#description, #steps{
    outline: black 1px solid;
    padding: 1em;
    margin: 2em;
    border-radius: 8px;
    width: 90%;
    height: 85%;

}
.ingCat {
    outline: black 1px solid;
    border-radius: 8px;
    padding: 0.4em;
    margin: 0.4em;
    display: inline-flex;
    width: 80%;
}
#homeBtn {
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 3em;
    font-weight: 500;
    outline: black 1px solid;
    background: whitesmoke;
    margin-top: 5em;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
figcaption{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 3em;
    font-weight: 500;
    outline: black 1px solid;
    background: whitesmoke;
    
}
figure, a{
    text-decoration:none ;
    width: 30%;

}
#homeBtn:hover {
    transition: all 2s;
    color: pink;
    background: linear-gradient(to top right, rgb(255, 160, 215), rgb(179, 255, 247), rgb(255, 243, 221));
    outline: pink 2px solid;

}
#home{
    width: 100%;
    padding: 2em;
}

ul{
    list-style:none;
}
img{
    max-width: 95%;
    height: 90%;
    object-fit: cover;
    border-radius: 18px;
    margin: 2em;
}
/* Media Queries ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media only screen  and (max-width: 480px) {
    img,aside{
        max-width: 95%;
    }
    body{
        background-color: gainsboro;
    }
    #container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .ingCat ul{
        display: inline-block;
    }
    .ingCat ul li{
        display: none;
    }
    .ingCat:hover ul:hover li, .ingCat:hover ul li {
        display: block;
        transition:all 1.5s
    }
    #homeBtn{
        margin-top: auto;
    }
    figure{
        width: fit-content;
    }
}